<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Pilot By Its License Number</title>
	</head>
	<body>
	    <div th:if="${idFound}">
	        <h3 th:text="'Pilot id is = ' + ${pilot.id}"></h3>
	        <h3 th:text="'License Number is = ' + ${pilot.licenseNumber}"></h3>
	        <h3 th:text="'The name is = ' + ${pilot.name}"></h3>
	        <h3 th:text="'Fly hour(s) is = ' + ${pilot.flyHour}"></h3>
	    </div>
	    <div th:unless="${idFound}">
	        <h3>PILOT NOT FOUND!</h3>
	    </div>
	</body>
</html>